.site-wrapper {
    margin-top: 110px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#result span{
    font-weight: bold;
}

#result span.count{
    display: block;
    margin: 20px auto 0;
    height: 30px;
    width: 30px;
    background-color: #1bbc9b;
    border-radius: 50%;
    padding-top: 5px;
    color: #fff;
}

#result .total {
    background-color: #f3f3f3;
    padding: 10px;
    margin: 20px 0;
}