.site-wrapper {
    margin-top: 110px;
}

.text-center {
    margin-top: 20px;
}

.navbar {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.info-wrapper {
    padding: 5px;
    text-align: left;
}

.error {
    display: inline-block;
    border-radius: 5px;
    background-color: #c91530;
    color: #FFF;
    padding: 0 10px;
}

#counter,
#gallery {
    display: none;
}

#gallery div[id^="item-"]{
    margin-bottom: 25px;
}

.activeTab{
    display: block !important;
}